/* <----- Flex -----> */

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* <----- Text -----> */

.uppercase {
    text-transform: uppercase;
}

.semibold {
    font-weight: bold;
}

/* <----- Margin & Padding -----> */

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}

.my-2{
    margin-top: 12px;
    margin-bottom: 12px;
}